<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lung Disease Detection</title>
    <link rel="stylesheet" href="/static/styles/front.css" />
    <style></style>
  </head>
  <body>
    <div class="main-cnt">
      <div class="content-cnt">
        <h1>Lung Diseases Detection Using Deep Learning</h1>
        <a href="/upload" class="sub-btn">Upload Image</a>
        <h3>
          By Batch B23 ECE-2024 | SSIT <br />
          <br />Under the Guidance of Dr. Shyla M K
        </h3>
      </div>
      <div class="image-cnt">
        <img
          class="lungs"
          src="/static/images/lungs-PhotoRoom.png-PhotoRoom.png"
          alt="Lungs"
        />
      </div>
    </div>
  </body>
</html>
